@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgb(81, 216, 209);
}
.menu {
  position: relative;
  top: 30%;
  left: 10%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .toggle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 1.25s;
  z-index: 200;
}
.menu .toggle img {
  width: 100%;
}

.menu.active .toggle {
  transform: rotate(1080deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 200px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}
.menu.active li {
  scale: 1;
}
.menu li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg / -8 * var(--i)));
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.menu li a img {
  width: 100%;
  scale: 0.8;
  transition: 0.5s;
}
.menu li:hover a {
  box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}
.menu li:hover a img {
  scale: 1;
}
