@charset "utf-8";

nav a {
  text-decoration: none;
  color: #000;
  margin: 2em;
}

nav:nth-child(1) {
  display: flex;
  justify-content: center;
}
nav:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hunder {
  position: absolute;
  width: 0%;
  background-color: pink;
  top: 9%;
  left: 23%;
  height: 4px;
  transition: 0.5s;
}
#vunder {
  position: absolute;
  width: 0%;
  background-color: dodgerblue;
  top: 20%;
  left: 47%;
  height: 4px;
  transition: 0.5s;
}
